<!DOCTYPE html>
<html>
  <head>
    <title>{{Interactive Infographic Poster}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="hidden">Home Page</h1>
      <div class="siteContainer">
        <header>
          <img src="public/images/Uppar_part.svg" alt="Uppar_part" id="Uppar_part">
        </header>

        <section class="social_icons">
          <img src="public/images/Laptop.svg" alt="laptop" id="laptop">
          <img src="public/images/Twitter.svg" alt="Twitter" id="twitter"> 
          <img src="public/images/instagram.svg" alt="instagram" id="insta">
          <img src="public/images/facebook.svg" alt="facebook" id="fb">
          <img src="public/images/snapchat.svg" alt="snapchat" id="snapchat">
          <img src="public/images/Linkin.svg" alt="linkin" id="linkin">
        </section>

        <section class="per_with_age">
          <img src="public/images/Per_with_age.svg">
        </section>
      </div>
    
  </body>
</html>
