body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.siteContainer {
  width: 1280px;
  color: black;
  stroke-width: 1pt;
  stroke: white;
}
